name: Create Tag

on:
  workflow_dispatch:
    inputs:
      project:
        type: choice
        description: "Project to create a tag for"
        required: true
        options:
          - "app1"
          - "app2"
      bumpType:
        type: choice
        description: "Type of tag version bump (major, minor, patch)"
        required: true
        default: patch
        options:
          - "major"
          - "minor"
          - "patch"
jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Get latest Tag
        id: latest-tag
        run: |
          PREVIOUS_TAG=$(git tag | grep -E '^${{inputs.project}}/v[0-9]+\.[0-9]+\.[0-9]+$' | sort --version-sort --reverse | head -n 1)
          echo "PREVIOUS_TAG=$PREVIOUS_TAG" >> $GITHUB_OUTPUT

      - name: Print previous tag
        run: echo ${{steps.latest-tag.outputs.PREVIOUS_TAG}}
