name: Create Tag

on:
  workflow_dispatch:
    inputs:
      project:
        type: choice
        description: "Project to create a tag for"
        required: true
        options:
          - "app1"
          - "app2"
      bumpType:
        type: choice
        description: "Type of tag version bump (major, minor, patch)"
        required: true
        default: patch
        options:
          - "major"
          - "minor"
          - "patch"
jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Fetch all tags
        run: git fetch --tags --quiet

      - name: Get latest Tag
        id: latest-tag
        run: |
          PREVIOUS_TAG=$(git tag | grep -E '^${{inputs.project}}/v[0-9]+\.[0-9]+\.[0-9]+$' | sort --version-sort --reverse | head -n 1)
          if [ "$PREVIOUS_TAG" == "" ]; then
            PREVIOUS_TAG=${{inputs.project}}/v0.0.0
          fi
          echo "PREVIOUS_TAG=$PREVIOUS_TAG" >> $GITHUB_OUTPUT

      - name: Print previous tag
        run: echo ${{steps.latest-tag.outputs.PREVIOUS_TAG}}

      - name: Generate new tag version
        run: |
          previous_version=${{steps.latest-tag.outputs.PREVIOUS_TAG}}
          sem_ver=$(echo $previous_version | cut -d '/' -f2 | cut -d 'v' -f2)

          major_version=$(echo $sem_ver | cut -d '.' -f1)
          minor_version=$(echo $sem_ver | cut -d '.' -f2)
          patch_version=$(echo $sem_ver | cut -d '.' -f3)

          if [ ${{ inputs.bumpType }} == "major" ]; then
            major_version=$((major_version + 1))
            minor_version=0
            patch_version=0
            echo "Updating major version to: $major_version.$minor_version.$patch_version"
          elif [ ${{ inputs.bumpType }} == "minor" ]; then
            minor_version=$((minor_version + 1))
            patch_version=0
            echo "Updating minor version to: $major_version.$minor_version.$patch_version"
          elif [ ${{ inputs.bumpType }} == "patch" ]; then
            patch_version=$((patch_version + 1))
            echo "Updating patch version to: $major_version.$minor_version.$patch_version"
          fi

          new_version="$major_version.$minor_version.$patch_version"
          echo "new_version=$new_version" >> $GITHUB_OUTPUT
          echo "New version: $new_version"

      - name: Tag commit with new version
        run: |
